<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdn.meeting.infrastructure.repository.mapper.MeetingAgendaItemPOMapper">

    <select id="selectByMeetingIdOrderBySortOrderAsc" resultType="com.csdn.meeting.infrastructure.po.MeetingAgendaItemPO">
        SELECT * FROM t_meeting_agenda_item WHERE meeting_id = #{meetingId}
        ORDER BY sort_order ASC
    </select>

    <delete id="deleteByMeetingId">
        DELETE FROM t_meeting_agenda_item WHERE meeting_id = #{meetingId}
    </delete>
</mapper>
