<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdn.meeting.infrastructure.repository.mapper.MeetingTemplatePOMapper">

    <select id="selectByIsActiveTrueOrderBySortOrderAsc" resultType="com.csdn.meeting.infrastructure.po.MeetingTemplatePO">
        SELECT * FROM t_meeting_template WHERE is_active = 1 ORDER BY sort_order ASC
    </select>
</mapper>
